<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
	<span class="epadding-left">Angular PWA</span>
<!--	<span>{{title}}</span>-->
	<!--<div class="example-label">Basic</div>-->
    <span class="menu-spacer"></span>
    <div class="menuItem epadding-left">
      <a mat-button [routerLink]="'/accounts'"> Pharma </a>
    </div>
    <div class="menuItem">
      <a mat-button [routerLink]="'/accounts'"> Equipment </a>
    </div>
	 <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
	   <mat-icon>share</mat-icon>
	 </button>-->
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
		<router-outlet name='nav'></router-outlet>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<p>
      <a routerLink="/note/11">Testing</a>.
</p>
<!--
	outlet: 'sideBar'
<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
-->
<!--<app-messages></app-messages>-->

